{
  "presets": [
    [
      "@babel/env",
      {
        "useBuiltIns": "usage",
        "corejs": { "version": 2 }
      }
    ]
  ],
  "plugins": [
    // 解决多个地方使用相同代码导致打包重复的问题
    ["@babel/plugin-transform-runtime"],
    "@babel/plugin-syntax-class-properties",
    "babel-plugin-transform-class-properties"
  ],
  "ignore": ["node_modules/**"]
}
